<nav class="navbar navbar-inverse">
    <div class="container-fluid"></div>
        <div class="navbar-header">
            <a class="navbar-brand" href="">Mongo-Scraper</a>
        </div>
        <ul class="nav top-buttons">
            <li><button class="btn btn-warning scrape">Scrape Articles!</button></li>
            <li><a href="/saved"><button class="btn btn-warning saved">Saved Articles</button></a></li>
        </ul>
    </div>
</nav>
<div class="jumbotron text-center">
    <div class="overlay">
    </div>
    <div class="background-image">
    </div>
    <div id="caption">
        <h1>Mongo Scraper</h1>
        <p>New York Times Edition</p>
    </div>
</div>
<div class="container-fluid article-container">
        {{#unless saved}}
        {{#each articles}}
        <div id="article" class="container-fluid text-center">
            <h4>{{this.headline}}</h4>
                <p class="mb-2">{{this.summary}}</p>
                    <a  href={{this.url}} target="_blank"> {{this.url}}</a>
                    </br>
                    <div class="button-div mt-4">
                        <button type= "button" class="btn btn-info save-button" data-id={{this.id}}>Save Article</button>
                    
                        <button type= "button" class="btn btn-danger delete-button " data-id={{this.id}}>Delete Article</button>
                    </div>
        </div>
        {{/each}}
        {{/unless}}
</div>

<footer class="footer">
    <div class="container text-center">
        <p>New York Times Mongo Scraper</p>
    </div>
</footer>